* {
    background-color: #E9CEB1;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    text-align: left;
}

.recipe-link {
    display: block;
    width: 100%;
    text-decoration: none;
    font-size: 24px;
    color: rgb(1,68,23);
}

.odin-recipes-title, h1 a {
    font-size: 52px;
    color: #CB953F;
    margin: 8px;
    text-align: center;
}

.recipe-container {
    width: 1000px;
    border: 1px solid white;
    margin: 8px auto;
}

img {
    height: auto;
    width: 500px;
}

h2 {
    color: #B54949;
}

h3 {
    color: #01794B;
}